<html>

<head>
    <style>
        body {
            background-color: whitesmoke;
            text-align: center;
            line-height: 20px;
            font-family: 'Palatino', Times, serif;
        }

        #container {
            margin: 2em
        }

        h1 {
            color: black;
            margin-left: 40px;
        }

        li {
            margin-bottom: 20px;
            list-style: none;
        }
    </style>
</head>

<div id="container">
    <h1>John Writing</h1>

    <ul>
        {% for piece in pieces: %}
            <li><a href="{{piece.html_path}}">{{piece.title}}</a></li>
        {% endfor %}
    </ul>
</div>

</html>