<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: whitesmoke;
            color: black;
            max-width: 40em;
            margin-left: auto;
            margin-right: auto;
            line-height: 24px;
            font-family: 'Palatino', Times, serif;
        }

        #container {
            margin: 2em
        }

        hr {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        h1 {
            text-align: center;
        }

        li {
            margin-bottom: 20px;
            list-style: none;
        }

        p {
            text-indent: 1em
        }
    </style>
</head>

<div id="container">

    <h4><a href="index.html">John Writing</a></h4>

    <div id="piece">
    {{ piece.body }}
    </div>

    <hr/>

    <ul>
        {% for p in pieces: %}
            {% if p.title != piece.title %}
                <li><a href="{{p.html_path}}">{{p.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
</div>

<br/>

</html>